* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.162)), center/cover, no-repeat, url('ChatGPT\ Image\ Jan\ 27\,\ 2026\,\ 06_47_16\ PM.png');
    font-family: Arial, Helvetica, sans-serif;
}

h1 em{
    color: red;
    font-size: 40px;
}

.container {
    display: flex;
    color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px grey;
    height: 400px;
    border-radius: 10px;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
}
#displayTimer{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0;
}

.container button{
    cursor: pointer;
  height: 40px;
  width: 100px;
  color: white;
  border-radius: 5px;
  margin: 30px 5px;
}

button i{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

#start{
    background-color: #00c3ff;
    border: 1px solid #00c3ff;
    box-shadow: 0 0 10px #00c3ff;
}
#start:hover{
  background-color: #009dff;
}


#reset{
    background-color: red;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
}
#reset:hover{
    background-color: rgb(184, 1, 1);
}